
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');



body { 
    background-image: url('recursos/Background.jpg');
}


.menu{
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 10px;
    border-radius: 10px;
}

.con_titulo {
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    
    align-items: center;
    justify-content: center;
}


.flash_logo_titulo {
    position:absolute;
    transform: rotate(22deg);
    margin-left: 70%;
    height: auto;
    width: 13%;
    
    
}

p, h2, ol {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 20px;
}
.Pruebas {
    background-color: rgba(100, 100, 100, 0.8);
    border-radius: 10px;
}

.Info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(150, 150, 150, 0.8);
    border-radius: 10px;
}

.titulo::before { 
    animation: aparecer 1.4s 1 ease-in-out;
}


.titulo { 
    position:relative;

    font-size: 700%;
  
    width: fit-content;
    font-family: 'Faster One';
    color: #f4d523;
    letter-spacing: 0.36em;
    text-shadow: 2px 2px 4px #000000;
    
    /*animation: aparecer 1.4s 1 ease-in-out;*/
}


.titulo:hover {
    animation: flash-effect 1.4s 1 ease-in;
}


@keyframes flash-effect {
    0%, 100% { text-shadow: 2px 2px 4px #000000; color: #f4d523; }
    10% { text-shadow: 0 0 18px #fff, 0 0 30px #ffe66d; color: #ffffff; }
    60% { text-shadow: 2px 2px 4px #000000; color: #f4d523; }
}
/* Animacion en progreso
@keyframes aparecer {
    0% { opacity: 0; transform: translateX(-50%) scale(0.9); }
    40% { opacity: 0.5; transform: translateX(25%) scale(1); text-shadow: 0 0 18px #fff, 0 0 30px #ffe66d; color: #ffffff; }    
    50% { opacity: 1; transform: translateX(0%) scale(1.03); }
    95% { text-shadow: 2px 2px 4px #000000; color: #f4d523; }
}
*/


.medio {
    background-color: rgba(2, 2, 2, 0.8); 
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    

}


.FLASH_WALLY {
    width: 275px;
    height: 350px;
    border-radius: 10px;
    
}

.D_F {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.FLASH__DEATH {
    width: 300px;
    height: 300px;
    border-radius: 10px;

}
